@import "tailwindcss";

* {
	font-family: "Geist Mono";
	color: white;
}

h1,
h2,
h3 {
	font-weight: 900;
}

html {
	background-color: #111117;
}

.nodrag {
	user-select: none;
	-webkit-user-drag: none;
	-moz-window-dragging: no-drag;
}

.mask {
	-webkit-text-stroke: 1px #fff;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

button {
	border: 1px solid white;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: color 160ms;
}

button:hover {
	border: 1px solid white;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	color: #111117 !important;
	background-color: white;
}

button:hover,
button:hover * {
	color: #111117 !important;
}

.marquee {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.marquee {
	--marquee-duration: 12s;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.marquee div {
	display: flex;
	gap: 2rem;
	width: 200%;
	padding-right: 2rem;
	will-change: transform;
	animation: marquee var(--marquee-duration) linear infinite;
}

.marquee span {
    @apply text-4xl mt-4;
	flex: 0 0 50%;
	white-space: nowrap;
	display: inline-block;
}

@keyframes marquee {
	from {
		transform: translateX(50%);
	}
	to {
		transform: translateX(-210%);
	}
}

.marquee:hover div,
.marquee:focus-within div {
	animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
	.marquee div {
		animation: none;
	}
}
